* {
  margin: 0px;
}
body {
  background-color: rgb(121, 194, 170);
}
.main-container {
  margin: auto;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
